<style>
  .sold-out {
  	display: none;
  }
  .sold-out.product-sold-out {
  	display: block;
  }
  .sold-out.variant-inventory-available {
  	display: none;
  }
  .sold-out.product-form--variant-sold-out {
  	display: block;
  }
  .btn-sold-out {
  	vertical-align: inherit;
  }
</style>
<div id="sold-out" class="{% if available == false %} product-sold-out {% endif %} sold-out">
  {% form 'contact' %}
    {% if form.posted_successfully? %}
    <p class="accent-text">{{ 'products.product.sold_out_thanks' | t }}</p>
    {% else %}
    <p>{{ 'products.product.sold_out_notify_me' | t: product_name: product.title }}</p>
    {% endif %}
    {% if form.errors %}
    <div class="error feedback accent-text">
      <p>{{ 'products.product.sold_out_valid_email' | t }}</p>
    </div>
    {% endif %}
    {% unless form.posted_successfully? %}
    <div id="notify-me-wrapper" class="clearfix">
      {% if customer %}
      <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
      {% else %}
      <input required="required" 
             type="email" 
             name="contact[email]" 
             placeholder="your@email.com" 
             class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
      {% endif %}
      <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
      <input class="btn btn-sold-out" type="submit" value="Send" />
    </div>
  {% endunless %}
 {% endform %}
</div>