{%- if isActive == true -%}
<div class="body-blackout"></div>
<section class="geolocate-popup-wrapper">
  <div class="geolocate-container">
    <div class="geolocate-content">
      {%- if settings.geolocate_logo != blank -%}
      <img class="geolocate-logo" src={{ settings.geolocate_logo | img_url: '211x108' }}>
      {%- endif -%}
      {%- if settings.geolocate_header != blank -%}
      <div class="geolocate-header">{{ settings.geolocate_header }}</div>
      {%- endif -%}
      {%- if settings.geolocate_content != blank -%}
      <div class="geolocate-text-content">{{ settings.geolocate_content }}</div>
      {%- endif -%}
      {%- if settings.geolocate_button_text != blank -%}
      <a href={{ settings.geolocate_button_link }} class="Button Button--primary">{{ settings.geolocate_button_text }}</a>
      {%- endif -%}
    </div>
    <div class="geolocate-bg"></div>

    {%- if settings.geolocate_bg_image != blank -%}
    <style>
      .geolocate-bg {
        background-image: url({{ settings.geolocate_bg_image | img_url: 'master' }});
      }
    </style>
    {%- endif -%}
  </div>
</section>
{%- endif -%}