<!DOCTYPE html>

<html class="no-js" lang="{{ shop.locale }}">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MN5C4TX');</script>
<!-- End Google Tag Manager -->
  
        {%- render 'layouthub_header' -%}
        {% include "load-metafields" %}
        {% include 'kiwiSizing' %}
        <meta charset="utf-8"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="TyENe4sa89jZbfuSiqtqlE1rOvyHK5BBUXP9zo8JyGw" name="google-site-verification"/>
<meta content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
<meta content="{{ settings.accent_color }}" name="theme-color"/>
<link data-href="https://fonts.shopifycdn.com/linotype_didot/linotypedidot_n7.e3e9ff8ca1fc65b0a90aad7237d2dd3aba3a20c0.woff2?h1=c3ltcGxpLmNvbQ&amp;hmac=8443ff86cb375b42788df869aa5e338e561d832bb787b71f72d29bf364d71182" rel="stylesheet"/>
<link data-href="https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=c3ltcGxpLmNvbQ&amp;hmac=53187127e1ea0a55d9660577bec047c505068bcd2b89f721d9cd2f67c1d59e8b" rel="stylesheet"/>
<link data-href="https://fonts.shopifycdn.com/avenir_next/avenirnext_n7.8cfc646eab1e39e2d81a26284624600ccae49d55.woff2?h1=c3ltcGxpLmNvbQ&amp;hmac=3f39ab747631f6228f94bfda07db57232f3d8014132602ebe10c186f78c4f36e" rel="stylesheet"/>
<link href="{{ canonical_url }}" rel="canonical"/><link href="https://sympli.com{{request.path}} " hreflang="en-CA" rel="alternate"/><link href="https://us.sympli.com{{request.path}}" hreflang="en-US" rel="alternate"/><link href="https://sympli.com{{request.path}}" hreflang="x-default" rel="alternate"/>
<title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} | {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} | {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}</title>
<!-- Global site tag (gtag.js) - Google Ads: 435999738 -->
<script data-src="https://www.googletagmanager.com/gtag/js?id=AW-435999738" type="lazyload2"></script>
<script type="lazyload2">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-435999738');
        </script>
        {%- if page_description -%}
            <meta content="{{ page_description | escape }}" name="description"/>
        {%- endif -%}
        {%- if settings.favicon -%}
            <link href="{{ settings.favicon | img_url: '96x' }}" rel="shortcut icon" type="image/png"/>
        {%- endif -%}
        {% render 'social-meta-tags' %}

        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
            <script>var trekkie=[];trekkie.integrations=!0;</script>
        {%- endif -%}

        <!-- Begin Mailchimp Signup Form -->
<link data-href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

        {% include 'theme-scss-css' %}
        <link data-href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet"/>
<link data-href="{{ 'custom.scss.css' | asset_url }}" rel="stylesheet"/>
<script>
            // This allows to expose several variables to the global scope, to be used in scripts
            window.theme = {
                pageType: {{ request.page_type | json }},
                moneyFormat: {{ shop.money_format | json }},
                moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
                productImageSize: {{ settings.product_image_size | json }},
                searchMode: {{ settings.search_mode | json }},
                showPageTransition: {{ settings.show_page_transition | json }},
                showElementStaggering: {{ settings.show_element_staggering | json }},
                showImageZooming: {{ settings.show_image_zooming | json }}
            };

            window.routes = {
                rootUrl: {{ routes.root_url | json }},
                cartUrl: {{ routes.cart_url | json }},
                cartAddUrl: {{ routes.cart_add_url | json }},
                cartChangeUrl: {{ routes.cart_change_url | json }},
                searchUrl: {{ routes.search_url | json }},
                productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
            };

            window.languages = {
                cartAddNote: {{ 'cart.general.add_note' | t | json }},
                cartEditNote: {{ 'cart.general.edit_note' | t | json }},
                productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
                productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
                productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
                productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
                shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
                shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
                shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
            };

            window.lazySizesConfig = {
                loadHidden: false,
                hFac: 0.5,
                expFactor: 2,
                ricTimeout: 150,
                lazyClass: 'Image--lazyLoad',
                loadingClass: 'Image--lazyLoading',
                loadedClass: 'Image--lazyLoaded'
            };

            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

            // We do a quick detection of some features (we could use Modernizr but for so little...)
            (function() {
                document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
                document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
            }());
        </script>
<script data-src="{{ 'lazysizes.min.js' | asset_url }}" type="lazyload2"></script>
        {%- if template == 'customers/addresses' -%}
            <script defer="" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
<script defer="" src="{{ 'customer_area.js' | shopify_asset_url }}"></script>
        {%- endif -%}
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        -->
        {% include 'jquery-min' %}
        <script src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
<script data-src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&amp;features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" type="lazyload2"></script>
<script defer="" src="{{ 'libs.min.js' | asset_url }}"></script>
<script data-src="{{ 'theme-new.min.js' | asset_url }}" type="lazyload2"></script>
<script data-src="{{ 'custom.js' | asset_url }}" type="lazyload2"></script>
<script>
            (function () {
                window.onpageshow = function() {
                    if (window.theme.showPageTransition) {
                        var pageTransition = document.querySelector('.PageTransition');
                        if (pageTransition) {
                            pageTransition.style.visibility = 'visible';
                            pageTransition.style.opacity = '0';
                        }
                    }
                    // When the page is loaded from the cache, we have to reload the cart content
                    document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
                        bubbles: true
                    }));
                };
            })();
        </script>
        {% render 'microdata-schema' %}
        <!--begin-bc-sf-filter-css-->
        {% include 'bc-sf-filter-style' %}
        <!--end-bc-sf-filter-css-->
        {% include "geo" %}
        {% include 'sales-motivator-init' %}
        <meta content="AqVH16N9O5vcavnBTKNvVZdulJ59DKtBD4B0J4YUgNU" name="google-site-verification"/>
        {%- render 'asl_snippet' -%}
        {% include 'sca.freegifts' %}
        {% include 'upsellio' %}
        {% render 'vitals-loader' %}
        {% render 'judgeme_core' %}
        <!-- GSSTART Slider code start. Do not change -->
        {% if product.id &gt; 1 %}
            <script data-src="https://gravity-software.com/js/shopify/slider_shop32535.js?v=388f5b46548afe106957dda747648b36" type="lazyload2"></script>
            {% if product.variants.size &gt; 1 %}
                <script>
                    gsSliderDefaultV = "{{ product.selected_or_first_available_variant.id }}";
                    var variantImagesByVarianName = {};
                    var variantImagesByVarianNameMix = {};
                    var variantImagesGS = {},
                    thumbnails,
                    variant,
                    variantImage,
                    optionValue,
                    cntImages;
                    productOptions = [];
                    cntImages = 0;
                    {% for variant in product.variants %}
                        variant = {{ variant | json }};
                        if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
                            variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
                            variantImagesGS[variant.id] = variantImage;
                            variantImagesByVarianName[variant.option1] = variantImage;
                            var variantMixName = "";
                            if(variant.option1 != null) {
                                variantMixName = variant.option1;
                            }
                            if(variant.option2 != null) {
                                variantImagesByVarianName[variant.option2] = variantImage;
                                variantMixName = variantMixName + ";gs;" + variant.option2;
                            }
                            if(variant.option3 != null) {
                                variantImagesByVarianName[variant.option3] = variantImage;
                                variantMixName = variantMixName + ";gs;" + variant.option3;
                            }
                            if(variantMixName != "") {
                                variantImagesByVarianNameMix[variantMixName] = variantImage;
                            }
                            cntImages++;
                        }
                    {% endfor %}
                    if(cntImages == 0) {
                        variantImagesGS = undefined;
                    }
                </script>
            {% endif %}
            <script>
                var imageDimensionsWidth = {};
                var imageDimensionsHeight = {};
                var imageSrcAttr = {};
                var altTag = {};  

                var mediaGS = [];  
                var productImagesGS = [];
                var productImagesGSUrls = [];
                {% for image in product.images %}
                    var productImageUrl = "{{ image.src }}";
                    var dotPosition = productImageUrl.lastIndexOf(".");
                    productImageUrl = productImageUrl.substr(0, dotPosition);
                    productImagesGS.push(productImageUrl);
                    imageDimensionsWidth[{{ image.id }}] = "{{ image.width }}";
                    imageDimensionsHeight[{{ image.id }}] = "{{ image.height }}";
                    altTag[{{ image.id }}] = "{{ image.alt | replace: '\"', '"' | replace: '"', '\"' | strip | strip_newlines }}";
                    imageSrcAttr[{{ image.id }}] = "{{ image.src }}";
                    productImagesGSUrls.push("{{ image.src | img_url: '240x' }}");
                {% endfor %}

                {%- for media in product.media -%}
                    {% case media.media_type %}
                        {% when "image" %}                           
                        var mediaObjectGS ={id: "{{ media.image.id  }}", mediaType:"{{ media.media_type }}", previewImgURL:"{{ media.image.src | img_url: "240x" }}", previewImg:"{{ media.image.src }}", tag:"{{ media.image.src | img_url: "240x" }}"};
                        mediaGS.push(mediaObjectGS);
                        {% when "video" %}
                        var productImageUrl = "{{ media.preview_image }}";
                        var dotPosition = productImageUrl.lastIndexOf(".");
                        productImageUrl = productImageUrl.substr(0, dotPosition);
                        var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | video_tag: controls: true }}'};
                        mediaGS.push(mediaObjectGS);
                        {% when "external_video" %}
                        var productImageUrl = "{{ media.preview_image }}";
                        var dotPosition = productImageUrl.lastIndexOf(".");
                        productImageUrl = productImageUrl.substr(0, dotPosition);
                        var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | external_video_tag }}'};
                        mediaGS.push(mediaObjectGS);
                    {% endcase %}
                {%- endfor -%}
            </script>
        {% endif %}<!-- Slider code end. Do not change GSEND -->
        {% include 'bss-product-labels-configs' %}
    </head>
<body class="prestige--v4 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }} {% if template.name == 'collection' %}collection-template-page{% endif %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MN5C4TX" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  {% include 'styleme' %}
        <script>
            $(function() {
                ALinks = $('a.Heading.u-h6');
                ShopLink = null;
                for(var i=0; i<ALinks.length; i++){
                    if(ALinks[i].innerText.startsWith('Shop')){
                        ShopLink = ALinks[i];
                        break;
                    }
                }
                var S = document.createElement('span');
                S.innerHTML = ShopLink.innerHTML;
                S.classList.add("Heading");
                S.classList.add("u-h6");
                ShopLink.parentNode.replaceChild(S, ShopLink);
                console.log('Document Ready');
            });
        </script>
<a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
<span class="LoadingBar"></span>
<div class="PageOverlay"></div>
<div class="PageTransition"></div>
        {% section 'popup' %}
        {% section 'free-shipping-popup' %}
        {% section 'sidebar-menu' %}
        {%- if template != 'cart' -%}
            {% render 'cart-drawer' %}
        {%- endif -%}
        <div class="PageContainer">
            {% section 'announcement' %}
            {% section 'header' %}
            <main id="main" role="main"><!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End--></main>
            {% section 'footer' %}
        </div>
<!--begin-bc-sf-filter-js-->
        {% include 'bc-sf-filter' %}
        <!--end-bc-sf-filter-js-->
        {% render 'geolocate-popup', isActive: false %}
        <!-- Back in Stock helper snippet -->
        {% render 'back-in-stock-helper' %}
        <!-- End Back in Stock helper snippet -->
<script data-src="https://scripts.mymarketingreports.com/dni.1.0.0.min.js?nt_id=10143998" type="lazyload2"></script>
        {% include "bc_banner" %}
        {%- render 'flits_capture_code' with 'load_snippet',template:'flits_snippet' -%}
        <script data-src='https://widebundle.com/scripttagTest.php?shop=d2csympli-staging.myshopify.com&amp;v=" + Date.now() + "' type="lazyload2"></script>
        {%- render 'layouthub_footer' -%}
        <link data-href="https://gravity-software.com/js/shopify/rondell/jquery.rondellf85.css?v=123" rel="stylesheet"/>
        {% if content_for_header contains 'product_label' %}
            {% include 'bss-product-label-js' %}
            {% include 'bss-label-style-css' %}
        {% endif %}
        {% include 'smile-initializer' %}
        {% render 'prime-css' %}
        {% include 'primefilter' %}
        {% render 'primeb-js' %}
      <script type="text/javascript">!function(){var b=function(){window.__AudioEyeSiteHash = "1846ba2542be4488df103ab30dc95c29"; var a=document.createElement("script");a.src="https://wsmcdn.audioeye.com/aem.js";a.type="text/javascript";a.setAttribute("async","");document.getElementsByTagName("body")[0].appendChild(a)};"complete"!==document.readyState?window.addEventListener?window.addEventListener("load",b):window.attachEvent&&window.attachEvent("onload",b):b()}();</script>
</body>
</html>
{{ 'wnw-optimization.js' | asset_url | script_tag }}